@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600;700;800;900&family=Noto+Sans:wght@200;300;400;500;600;800;900&display=swap");

:root {
  --bg-dark: #363738;
  --color-white: #fcfcfd;
  --color-gray:#dcdee1;
  --color-green:#28eea7;
  --bg-light:#f1f2f3;
  --color-black:#232323;
  --color-orange:#ffc635;
  --color-puple:#9864da;
  --color-pink:#fb508e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Noto Sans Mono, sans-serif;
}
.bg-orange{
  background-color: var(--color-orange);
}
.text-orange{
  color: var(--color-orange);
}
.text-purple{
  color: var(--color-puple);
}
.text-pink{color: var(--color-pink);}

.section-wrapper {
  width: 100%;
}
.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-banner,
.right-banner {
  width: 100%;
  height: 100vh;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
}

.left-banner {
  background-image: url(../assets/images/hero-left.png);
  text-align: right;
  background-color: rgba(0, 0, 0, 0.318);
  align-items: end;
  position: relative;
  z-index: 50;
}
.right-banner {
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)
    ),
    url(../assets/images/hero-right.png);
}
.overlay-left {
  width: 100%;
  height: 100%;
  background-color: rgba(40, 238, 167, 0.93);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: background-color 400ms ease-in-out;
}
.text-white {
  color: white;
}
.bg-light{
  background-color: var(--bg-light);
}
.banner-title {
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 900;
  font-size: 36px;

  color: white;
}
.banner-title span {
  font-size: 24px;
  background-color: var(--bg-dark);
  padding: 5px;
  line-height: 2.5;
  font-family: Noto Sans Mono, sans-serif;
}
.banner-description {
  font-size: 16px;
  line-height: 1.5;
  margin: 40px 0;
  font-family: Noto Sans Mono, sans-serif;
}
.banner-call-to-action {
  padding: 15px 20px;
  font-size: 16px;
  font-family: Noto Sans Mono, sans-serif;
  text-decoration: none;
  font-weight: 800;
  width: fit-content;
}

.bg-dark {
  background-color: var(--bg-dark);
}
.bg-white {
  background-color: var(--color-white);
}
.text-dark {
  color: var(--bg-dark);
}

.navbar {
  width: 100%;
  position: absolute;
  top: 70px;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  z-index: 100;
}

.burger-menu {
  width: 60px;
  height: 60px;
  border-radius: 10px;

  padding: 10px;
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.burger-item {
  width: 100%;
  height: 5px;
  background-color: white;
  position: relative;

  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.burger-item::after,
.burger-item::before {
  content: "";
  width: inherit;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 3px;
  left: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}
.burger-item::after {
  top: 10px;
}
.burger-item::before {
  top: -10px;
}


.video-section{
  padding: 0 70px;
}
.section{
  padding:70px 0 ;
  max-width: 1340px;

  margin-left: auto;
  margin-right: auto;
}

.section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-bullets{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
.section-title-container{
    display: flex;
  align-items: center;
}
.section-title,.section-arrow{
  font-size: 24px;
  font-family: Noto Sans Mono, sans-serif;
  padding:0 10px;
  font-weight: 900;
}
.section-arrow{
  font-size: 36px;
  color: var(--color-green);

}
.bullet{
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.bg-gray{
  background-color: var(--color-gray);

}
.bg-green{
  background-color: var(--color-green);
}

.section-body{
  margin: 50px 0 0 0;
  
}

.video-container{
  width: 100%;
  height: 90vh;
  background-color: var(--color-green);
  border-radius: 20px;
  position: relative;
  border:15px solid #28eea7;
}
iframe{
width:100%;height:100%;pointer-events:auto" 
}


.milestones-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 50px 0 0 0;
  gap: 20px;
  flex-wrap: wrap;
}
.employment-rate{
  width: 50%;
  flex: 1;
 
  border-radius: 20px;
  padding: 60px 70px;
}
.card-title{
  color: var(--bg-dark);
  text-align: start;
  font-size: 64px;
  font-weight: 900;
  font-family: Noto sans mono;
}
.lg-font-size{
  font-size: 120px;
}
.card-sub-title{
  font-size: 32px;
    font-weight: 900;
    line-height: 1.4;
    font-family: Noto sans mono;
}
.card-description{
  margin-top: 20px;
  color: var(--bg-dark);
    align-self: stretch;
    font-size: 14px;
    line-height: 1.5;
    font-family: Noto sans mono;

}
.other-milestones{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 20px;
  
}
.trained-youth,.hiring-countries,.graduated-youth,.partners{
  background-color: var(--bg-light);
  padding: 40px;
  flex: 1;
  border-radius: 20px;

}
.trained-youth{
  width: 55%;
  flex: none;
}

.programs-body{
  margin: 50px 0 0 0;
  
}
.programs-list{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.program-item{
padding: 20px 50px;
font-size: 16px;
font-family: "Noto Sans Mono";
font-weight: 900;
background-color: transparent;
}
.program-item:hover{
cursor: pointer !important;
}
.program-item.active{
  border-top-left-radius:20px ;
  border-top-right-radius:20px ;
  background-color: var(--bg-dark);
}
.text-green{
  color: var(--color-green);

}
.program-title{
  color: white;
  font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
}
.program-abbreviation{
  display: inline-block;
}
.program-details{
  width: 100%;
  padding: 20px;
  background-color: var(--bg-dark);
  border-radius: 20px;
  border-top-left-radius: 0px;
  display: flex;
  gap: 40px;
  display: flex;
  flex-direction: row;
  display: none;
 
}
.program{
  padding:20px  30px;
  width: 60%;
  display: flex;
  flex-direction: column; 
   gap: 20px;

  justify-content: flex-start;
  align-self: stretch;
}
.program-footer{
  margin-top: auto;
}
.program-description{
  line-height: 1.5;
  font-size: 14px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program-img{
  width: 400px;
  height: 400px;
}
.program-img img{
  border-radius: 20px;
  object-fit: cover;
}
.program-footer{
  display: flex;
  justify-content: space-between;
  gap: 10px;
 
}
.program-date,.program-btn{
  padding: 15px 20px;
  font-size: 16px;
  
  background-color: var(--color-black);
}
.program-date span{
  font-weight: 800;
}
.program-btn{
  font-weight: 800;
  text-align: end;
  flex: 1;
}
.hire-talent-body{
  width: 100%;
  background-color: var(--color-black);
  padding: 40px;
  border-radius: 20px;
  margin-top: 50px;
}
.bg-black{
  background-color: var(--color-black);
}

.hire-talent-body ol{
  padding: 0 0 0 40px;
}
.talent-title{
  font-size: 24px;
  font-weight: 900;
}
.talent-details ol{
  margin: 20px 0;
  color: var(--color-gray);
  margin-top: 30px;
}
.text-gray{
  color: var(--color-gray);
}


.talent-companies{
  margin-top: 25px;
  padding: 20px 15px;
  background-color: var(--bg-dark);
  width: fit-content;
  font-weight: 400;
}
.contact-us-btn,.view-all-btn {
  text-decoration: none;
  margin: 25px 0;
  padding: 15px 15px;
  text-align: end;
  font-weight: 900;
}

a{
  text-decoration: none;

}

.hr-img{
 height: 40px;
 width: fit-content;
 margin: 0 20px;
}
.align-end{
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 22px;
  padding: 20px 40px;
}
.testimonial-card {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  padding:20px 20px 20px 64px;
  gap: 20px;
}
.testimonial-details{
  padding: 20px 0;
  margin: 20px 0;
}
.testimonial-content{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.quote-img img{
  margin-top: 20px;
  width: 60px;
}
.profile-img img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-img {
  height: 400px;
  width: 400px;
}
.testimonial-img img{
  border-radius: 20px;
  object-fit: cover;
}

.person-info{
  margin: 20px 0;
  display: flex;
  gap: 20px;
}
.person-name{
  font-weight: 700;

}
.person-location-position > span{
  font-weight: 700;
}




.faq-body{
  
  width: 100%;
  background-color: var(--color-black);
  border-radius: 20px;
  margin-top: 50px;

background-color: transparent !important;
}
.question-container{
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: all  ease-in-out 300ms;
}
.answer{
  margin: 20px 0;
 
  display: none;
  transition: all 300ms  ease-in-out ;

}
.question{
  color: var(--color-white);
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.d-answer{
  display: block;
}

.question-drop {
  rotate: 90deg;
}
.answer ul{
  padding-left: 50px;
}

.question-container:hover {
 
  cursor: pointer;

}
.d-none{
  display: none;
}
.contact-col {
  padding: 30px;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.col-title{
  font-weight: 14px;
  font-weight: 900;
}
.email{
  font-size: 22px;
}
.col-footer{
  margin-top: auto;
  font-size: 14px;
}
.contact-row{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.contact-form-container{
  padding: 30px;
border-radius: 20px;
  width: 70%;
}
.map-container{
  width: 100%;
  height: 50%;
  margin-top: 20px;
}
.map-container iframe{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.form-row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.input-group{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.input-group >label,.label{
  font-weight: 700;
  font-size: 12px;
}
.label{
  margin-bottom: 10px;

}
.input-group >input{
  height: 50px;
  margin-top: 10px;
  padding: 0 20px;
}
.input-group >textarea{
  margin-top: 10px;
  padding:10px 20px;
}
input[type="radio"]{
 

accent-color: var(--color-green);

}

.w-100{
  width: 100% !important;
}
.form-row >.button-container{
 
 
  display: flex;
  align-items: end;
  justify-content: end;
}
.form-row button{
padding: 10px 20px;
font-weight: 800;
font-size: 12px;
margin-left: auto;
}

.form-row button:hover{
  cursor: pointer;
}

.partners-body{
  margin-top: 50px;


}
.partner-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.partner-img{
  width: 170px;
  height: 80px;
 

    mix-blend-mode: multiply;
    object-fit: contain;
    margin-bottom: 10px;
   
}

.news-letter-body{
  display: flex;
  justify-content: space-between;
}
.news-title{
  font-size: 22px;
    font-weight: 900;
    line-height: 1.5;
}
.news-title >.sub-title{
  color: var(--color-gray);
  text-align: left;
  flex: 0 auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.news-form{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.news-letter-input{
padding: 17px;

}
.subscribe{
  padding: 17px;
  font-weight: 700;
  font-size: 16px

}


footer{
  background-color: var(--color-black);
  padding-top: 50px;
}

footer >.section{
  padding: 0 70px;
}
.footer-link 
{
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
.footer-link a{
  color: var(--color-gray);

}

.footer-body,.left-section,.social-group,.copy-right{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.right-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-body{
}
.left-section{
  align-items: flex-end;
  gap: 100px;
}
.se-square-logo{
  width: 100px;
  align-self: flex-end;
  

}


.copy-right{
  padding-top: 70px;
  padding-bottom: 70px;
}
.social-item a{
  display: flex ;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
}
.social-group{
  gap: 10px;
  

}

.privacy-policy a{
  text-decoration: none;
}
button{
  cursor: pointer;
}

.footer-link a:hover{
  color: var(--color-white);
  cursor: pointer;
  
}






.menu{
  width: 100%;
  height: 100vh;
  padding: 0 70px;
  backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, .9);
    display: none;
    top: -100%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    overflow-x: hidden;
    position: absolute;
   
    z-index: 0;
    transition: all 300ms ease-in-out;

   
}
.burger-menu:hover{
   cursor: pointer;   
}
.menu-body{
  margin-top: 150px;

  display: flex;
  justify-content: space-between;
}
.navlink a{ 
  color:gray;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
   
    
}
.navlink a:hover{
  color: white;
}
.navlink{
  margin: 20px 0;
}

.active-link a{
  color: var(--color-green);
}
.account-card {
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column  ;
  justify-content: space-between;
 

}
.menu-left{
  width: 40%;
}


.card-acount-title{
  text-align: left;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
    color: white;
}
.comment{
  color: gray;
  text-align: left;
  flex: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-login, 
.btn-sign {
  text-align: center;
  padding: 15px;

  margin-top: 10px;
}
.btn-login{
  margin-top: 100px !important;
    color: var(--color-black);
}




.hr-card{
  display: flex;
  margin-top: 20px;
  background-color: #31b7f0;
  border-radius: 20px;
  padding: 30px;
  color: white;
  align-items: center;
}

.details{
  font-size: 18px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.details-sub{
  font-size: 12px;
  margin-left: 20px;

}
.hr-logo{
  width: 100px;
}
.open ::after{
  rotate: 45deg;
  transform-origin: center center;
  top: 0;
}
.open ::before{
  top: 0;
  transform-origin: center center;
  rotate: -45deg;

}
.open .burger-item{
  background-color: transparent;
}

.d-block{
  top: 0;
  display: block;
  opacity: 100%;
  z-index: 99;
  transition: all  ease-in-out;
}









.testimonials-body{

  height: 100%;
 
}





.nav-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.nav-dot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
}
.nav-dot:hover{
  cursor: pointer;
}

.d-flex{
  display: flex;
}


@media only screen and (max-width: 600px) {
  .left-banner,
  .right-banner,.hero-section {
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
  }
  .hero-section {
    height: 200vh !important;
  }


  .video-container{
    width: 100%;
    height: auto
    ;}

    .lg-font-size{
      font-size: 40px;
    }
    .employment-rate{
      width: 100%;

    }
    .milestones-body,.other-milestones,.row{
      height: auto;
    flex-wrap: wrap;
    }
    .trained-youth,.hiring-countries,.graduated-youth,.partners{
      width: 100%;
    }
    .card-title{
      font-size: 20px;

    }
    .program-details,.news-letter-body,.footer-body,.program-footer, .testimonial-card,
    .contact-row,.menu-body{
      flex-wrap: wrap;
      
    }
    .program ,.program-img,.testimonial-content{
      width: 100%;
    }
    .program-item{
      padding: 10px 20px;}
      .video-section,.navbar,.left-banner,.right-banner,.program-details,footer >.section,.menu{
        padding: 0px 20px;
      }
      .program-details{
        padding: 10px 20px;
      }
      .program{
        padding: 10px 0px;
      }
      
      .testimonial-card{
        padding: 10px 10px 10px 10px;

      }
      
      .contact-form-container{
        width: 100%;
        padding: 10px;

      }
      .form-row{
        flex-direction: column;
      }
      .input-group{
        width: 100%;
      }
      .footer-body{
        gap: 20px;
      }
      .right-section{
        width: 100%;
      }
      .right-section,.social-group,.se-square-logo{
        align-items: center;
        justify-content: center;
        align-self: center;
      }
      .social-group{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
      }
    
      .menu-right,.menu-left{
        width: 100%;
      }

}